admin_ssh_key = "{{ vault_admin_ssh_key }}"
yc_token = "{{ local_yc_token }}"
yc_id = "{{ local_yc_id }}"
yc_folder_id = "{{ local_yc_folder_id }}"
db_name = "{{ db_name }}"
db_user = "{{ db_username }}"
db_password = "{{ db_password }}"
